---
---

<div id="styleSwitcherButtons" class="btn-group self-center">
    <button id="older" class="btn btn-md">&#60;Older</button>
    <button id="newer" class="btn btn-md">Newer&#62;</button>
</div>

<script>
    const history = {
        index: ["2022-9", "2022-10"],
        blog: ["2022-9", "2022-10"],
        portfolio: ["2022-9", "2022-10"],
    };
    //get current page path (/portfolio)
    var currentPage = window.location.pathname;
    //return formatted date (2022-9)
    var currentDate = new Date()
        .toLocaleDateString("en-us", {
            year: "numeric",
            month: "numeric",
        })
        .replace(/\//g, "-")
        .split("-")
        .reverse()
        .join("-");

    console.log(currentPage);
    console.log(currentDate);

    function changePage() {
        //get current page, go direction
        console.log("Hello!");
    }

    var buttons = document.querySelector("#styleSwitcherButtons");

    console.log(buttons);

    buttons.addEventListener("click", changePage);
</script>
