@font-face {
    font-family: 'DistantGalaxy';
    src: url('/fonts/SFMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*:not(i) {
    font-family: SFMono-Regular;
}