---
import DefaultPage from "../layouts/DefaultPage.astro";
import IndexHero from "../components/smallparts/IndexHero.astro";
import Portfolio from "../components/smallparts/Portfolio.astro";
import ContactForm from "../components/smallparts/ContactForm.astro";
import AboutMe from "../components/smallparts/AboutMe.astro";

// TODO update blog to match layout: https://danspratling.dev/blog
// TODO Add a contact page with a form and email
---

<DefaultPage>
  <IndexHero />
  <div class="backgroundStars">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <!-- <AboutMe /> -->
    <Portfolio />
    <ContactForm />
  </div>
</DefaultPage>

<style>
  /* css for background stars */
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }

  .backgroundStars {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .backgroundStars span {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 9;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: 30px 0 8px currentColor;
  }

  .backgroundStars span:nth-child(0) {
    color: #fefefe;
    top: 24%;
    left: 1%;
    animation-duration: 28s;
    animation-delay: -26s;
    transform-origin: 14vw -20vh;
  }
  .backgroundStars span:nth-child(1) {
    color: #fefefe;
    top: 80%;
    left: 8%;
    animation-duration: 28s;
    animation-delay: -207s;
    transform-origin: 20vw 6vh;
  }
  .backgroundStars span:nth-child(2) {
    color: #ff0032;
    top: 31%;
    left: 36%;
    animation-duration: 317s;
    animation-delay: -329s;
    transform-origin: -14vw 18vh;
  }
  .backgroundStars span:nth-child(3) {
    color: #d1497d;
    top: 62%;
    left: 89%;
    animation-duration: 302s;
    animation-delay: -312s;
    transform-origin: -15vw -16vh;
  }
  .backgroundStars span:nth-child(4) {
    color: #d73371;
    top: 5%;
    left: 43%;
    animation-duration: 25s;
    animation-delay: -66s;
    transform-origin: 1vw -10vh;
  }
  .backgroundStars span:nth-child(5) {
    color: #d73371;
    top: 7%;
    left: 38%;
    animation-duration: 41s;
    animation-delay: -368s;
    transform-origin: 22vw 19vh;
  }
  .backgroundStars span:nth-child(6) {
    color: #d73371;
    top: 40%;
    left: 71%;
    animation-duration: 44s;
    animation-delay: -278s;
    transform-origin: -6vw -3vh;
  }
  .backgroundStars span:nth-child(7) {
    color: #fefefe;
    top: 6%;
    left: 45%;
    animation-duration: 67s;
    animation-delay: -381s;
    transform-origin: -19vw -13vh;
  }
  .backgroundStars span:nth-child(8) {
    color: #d44a65;
    top: 17%;
    left: 12%;
    animation-duration: 89s;
    animation-delay: -103s;
    transform-origin: -24vw -18vh;
  }
  .backgroundStars span:nth-child(9) {
    color: #ff0032;
    top: 30%;
    left: 48%;
    animation-duration: 92s;
    animation-delay: -365s;
    transform-origin: -22vw -24vh;
  }
  .backgroundStars span:nth-child(10) {
    color: #fefefe;
    top: 43%;
    left: 18%;
    animation-duration: 44s;
    animation-delay: -279s;
    transform-origin: 2vw -4vh;
  }
  .backgroundStars span:nth-child(11) {
    color: #d73371;
    top: 5%;
    left: 5%;
    animation-duration: 329s;
    animation-delay: -119s;
    transform-origin: -11vw 16vh;
  }
  .backgroundStars span:nth-child(12) {
    color: #ff0032;
    top: 70%;
    left: 72%;
    animation-duration: 40s;
    animation-delay: -36s;
    transform-origin: 2vw -3vh;
  }
  .backgroundStars span:nth-child(13) {
    color: #ca536b;
    top: 7%;
    left: 10%;
    animation-duration: 197s;
    animation-delay: -14s;
    transform-origin: 5vw 8vh;
  }
  .backgroundStars span:nth-child(14) {
    color: #d73371;
    top: 42%;
    left: 98%;
    animation-duration: 127s;
    animation-delay: -13s;
    transform-origin: -8vw 3vh;
  }
  .backgroundStars span:nth-child(15) {
    color: #fefefe;
    top: 82%;
    left: 64%;
    animation-duration: 190s;
    animation-delay: -157s;
    transform-origin: 9vw -21vh;
  }
  .backgroundStars span:nth-child(16) {
    color: #fefefe;
    top: 32%;
    left: 9%;
    animation-duration: 157s;
    animation-delay: -11s;
    transform-origin: 0vw -24vh;
  }
  .backgroundStars span:nth-child(17) {
    color: #fefefe;
    top: 7%;
    left: 38%;
    animation-duration: 123s;
    animation-delay: -1s;
    transform-origin: 14vw 12vh;
  }
  .backgroundStars span:nth-child(18) {
    color: #d73371;
    top: 20%;
    left: 45%;
    animation-duration: 42s;
    animation-delay: -20s;
    transform-origin: 10vw 23vh;
  }
  .backgroundStars span:nth-child(19) {
    color: #ff0032;
    top: 91%;
    left: 70%;
    animation-duration: 15s;
    animation-delay: -29s;
    transform-origin: -1vw 1vh;
  }
  .backgroundStars span:nth-child(20) {
    color: #fefefe;
    top: 34%;
    left: 37%;
    animation-duration: 202s;
    animation-delay: -6s;
    transform-origin: 0vw -1vh;
  }
  .backgroundStars span:nth-child(21) {
    color: #fefefe;
    top: 58%;
    left: 24%;
    animation-duration: 240s;
    animation-delay: -35s;
    transform-origin: 21vw 5vh;
  }
  .backgroundStars span:nth-child(22) {
    color: #fefefe;
    top: 24%;
    left: 78%;
    animation-duration: 111s;
    animation-delay: -14s;
    transform-origin: 13vw -4vh;
  }
  .backgroundStars span:nth-child(23) {
    color: #fefefe;
    top: 66%;
    left: 17%;
    animation-duration: 117s;
    animation-delay: -19s;
    transform-origin: -3vw -5vh;
  }
</style>
