---
import DefaultPage from '../layouts/DefaultPage.astro'
import Header from '../components/Header.astro'

// TODO add transitions to the text

// TODO change color theme to match with current SVG on landing page (text colors white, background that grey color, etc)
// TODO add transitions to the background svg?
// TODO Move portfolio items to main page, and then provide link to portfolio page to view all
// TODO update blog to match layout: https://danspratling.dev/blog
// TODO Remove 'Home' from header and rely on clicking on just my name instead
// TODO Add a contact page with a form and email
// TODO Add social media links somewhere (not on the contact page)
// TODO add Header back to other pages (requires colors for text and background themes to be updated first)

// const time = Math.floor(Math.random() * 1000)
// const backgroundPath = `?rando=${time}')]`;
//    class:list={['min-h-screen', `bg-[url('/background.svg?rando=` + Math.floor(Math.random() * 1000).toString() +`')]`]}>
---

<DefaultPage>
  <div id="background" style="width: 100%;
    place-items: center;
    background-size: cover;
    background-position: center;
    min-height: 100vh;"
    >
  <Header animDelay={'3s'}/>

    <div class="hero-overlay bg-opacity-0"></div>
    <div class="hero-content sm:pt-32 pt-24">
      <div class="text-left">
        <p class="mb-5 sm:text-2xl text-2xl lineUp opacity-0 min-h-sc" style="--delay: 0.25s;">Hello there! My name is</p>
        <p class="mb-5 sm:text-7xl text-5xl font-bold lineUp opacity-0" style="--delay: 0.95s;">John C Waters.</p>
        <p class="sm:text-7xl text-5xl font-bold lineUp opacity-0" style="--delay: 2s;">I design and build solutions.</p>

      </div>
    </div>
    <div class="scroll-button lineUp font-bold text-lg opacity-0" style="--delay: 3s;" tabindex="0">
          <div class="arrow">↓</div> scroll
        </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="https://placeimg.com/260/400/arch"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-4xl font-bold">Portfolio stuffs are here!</h1>
        <p class="py-6">
          As I build more projects I will be adding them here to showoff. Duh.
        </p>
        <button onclick="location.href='/portfolio';" class="btn"
          >My Portfolio</button
        >
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="https://placeimg.com/260/400/arch"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-4xl font-bold">Check out my blog!</h1>
        <p class="py-6">
          I'm no writer, but I can string some words together pretty well sorta
          kinda. Blog posts monthly.
        </p>
        <button onclick="location.href='/blog';" class="btn"
          >My Blog</button
        >
      </div>
    </div>
  </div>
</DefaultPage>

<style>
  /* lineup class and keyframes */
.lineUp {
  animation: 2s anim-lineUp ease-out forwards;
  animation-delay: var(--delay);
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.scroll-button{
    position: absolute;
    bottom: 0;
    left: 3%;
    padding: 2rem 0;
    border: none;
    outline: none;
    /* cursor: pointer; */
    display: flex;
    transition: opacity 250ms;
}

.scroll-button .arrow {
    margin-right: 0.25rem;
}
</style>

<script>
  //class={"bg-[url('/background.svg?rando=" + Math.floor(Math.random() * 100000).toFixed() + "')]"}>
  //`bg-[url('/background.svg?rando=${random}')]`
  const random = Math.floor(Math.random() * 100000).toString()
  const background = document.getElementById('background')
  const bgurl = `url('/background.svg?rando=${random}')`

  background!.style.backgroundImage = bgurl
</script>
