---
import DefaultPage from "../layouts/DefaultPage.astro";
---

<DefaultPage>

	<body>

		<div class="hero min-h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
			<div class="hero-overlay bg-opacity-60"></div>
			<div class="hero-content text-center text-neutral-content">
				<div class="max-w-md">
					<h1 class="mb-5 text-4xl font-bold">Hello there</h1>
					<p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
						exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
					<button class="btn btn-primary">Get Started</button>
				</div>
			</div>
		</div>

		<div class="hero min-h-screen bg-base-200">
			<div class="hero-content flex-col lg:flex-row">
				<img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" />
				<div>
					<h1 class="text-4xl font-bold">Portfolio Stuffs are here!</h1>
					<p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
						exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
					<button class="btn btn-primary">Get Started</button>
				</div>
			</div>
		</div>

		<div class="hero min-h-screen bg-base-200">
			<div class="hero-content flex-col lg:flex-row-reverse">
				<img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" />
				<div>
					<h1 class="text-4xl font-bold">Check out my blog!</h1>
					<p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
						exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
					<button class="btn btn-primary">Get Started</button>
				</div>
			</div>
		</div>

		<div class="hero min-h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
			<div class="hero-overlay bg-opacity-60"></div>
			<div class="hero-content text-center text-neutral-content">
				<div class="max-w-md">
					<h1 class="mb-5 text-4xl font-bold">What else could possiblely be here!?</h1>
					<p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
						exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
					<button class="btn btn-primary">Get Started</button>
				</div>
			</div>
		</div>

	</body>

</DefaultPage>