---
import DefaultPage from '../layouts/DefaultPage.astro'
import Header from '../components/Header.astro';
---

<DefaultPage>
    <Header/>
 <div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="https://placeimg.com/260/400/arch"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-4xl font-bold">Portfolio stuffs are here!</h1>
        <p class="py-6">
          As I build more projects I will be adding them here to showoff. Duh.
        </p>
        <button onclick="location.href='/portfolio';" class="btn"
          >My Portfolio</button
        >
      </div>
    </div>
  </div>
</DefaultPage>
