---
import DefaultPage from "../layouts/DefaultPage.astro";
---

<DefaultPage>
    <div class="hero bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <img
                src="https://placeimg.com/260/400/arch"
                class="max-w-sm rounded-lg shadow-2xl"
            />
            <div>
                <h1 class="text-5xl font-bold">Portfolio Stuff!</h1>
                <p class="py-6">Nothing here at the moment :(</p>
                <button class="btn btn-primary">Loading... sike!</button>
            </div>
        </div>
    </div>
    <p style="float:right; padding-top:600px;">made you look</p>
</DefaultPage>
