---
import { SITE_TITLE } from '../config'
export interface Props {
animDelay?: string;
}

const { animDelay = '0s' } = Astro.props;

---

<div class="navbar lineDown opacity-0 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box w-52 bg-primary"
      >
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost normal-case text-xl">{SITE_TITLE}</a>
  </div>
  <div class="navbar-end pr-3 hidden lg:flex">
    <ul class="menu menu-horizontal p-0 px-2 text-md">
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</div>

<style define:vars={{ animDelay }}>

.lineDown {
  animation: 2s anim-lineDown ease-out forwards;
  animation-delay: var(--animDelay);
}
@keyframes anim-lineDown {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
</style>
