<div id="aboutMe" class="my-32">
  <div class="max-w-xl mx-auto p-8 text-center">
    <h1 class="text-4xl font-bold mb-1">about</h1>
    <p class="text-base md:text-lg mb-6">
      Here are some of the public solutions I have made.
    </p>
  </div>
</div>
