<div id="contactme" class="my-32">
  <div class="max-w-xl mx-auto p-8 text-center">
    <h1 class="text-4xl font-bold mb-1">Let's talk</h1>
    <p class="text-base md:text-lg mb-6">
      After you send me some basic information, we'll schedule a time to discuss
      your project in further detail. You should expect to hear me from in a day
      or so.
    </p>
    <form method="post">
      <div class="form-control w-full max-w-full mb-6">
        <label class="label">
          <span class="label-text">Full name</span>
        </label>
        <input
          type="text"
          id="fullName"
          name="fullName"
          required
          class="input input-bordered w-full"
        />
      </div>
      <div class="form-control w-full max-w-full mb-6">
        <label class="label">
          <span class="label-text">Email address</span>
        </label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="input input-bordered w-full"
        />
      </div>

      <div class="form-control w-full max-w-full mb-6">
        <label class="label">
          <span class="label-text">Budget</span>
        </label>
        <select class="select select-bordered" id="budget" name="budget">
          <option disabled selected></option>
          <option>Less than $5000</option>
          <option>$5,000 - $10,000</option>
          <option>$10,000 - $25,000</option>
          <option>$25,000 +</option>
        </select>
      </div>

      <div class="form-control w-full max-w-full mb-6">
        <label class="label">
          <span class="label-text">Project type</span>
        </label>
        <select
          class="select select-bordered"
          id="projectType"
          name="projectType"
        >
          <option disabled selected></option>
          <option>New Website</option>
          <option>Website Redesign</option>
          <option>Custom Software/Tool</option>
          <option>Automate Work</option>
          <option>I'm not sure, help me choose</option>
        </select>
      </div>

      <div class="form-control mb-6">
        <label class="label">
          <span class="label-text">Additional details?</span>
        </label>
        <textarea
          id="projectDescription"
          name="projectDescription"
          required
          class="textarea textarea-bordered h-24"
          placeholder="Create a website, automate some work, or just fix a problem. Timelines are always appreciated."
        ></textarea>
      </div>

      <button
        type="submit"
        id="submitButton"
        class="btn btn-outline btn-block mt-4">Submit</button
      >
    </form>
    <!-- ... Form Feedback Response ... -->
    <div id="message" class="mt-4"></div>
  </div>
</div>

<script>
  // Form Submission Handling
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const messageBox = document.getElementById("message");
    const submitButton = document.getElementById(
      "submitButton"
    ) as HTMLButtonElement;

    if (form && messageBox && submitButton) {
      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // Disable button and show loading status
        submitButton.disabled = true;
        submitButton.innerHTML = `<span class="loading loading-dots loading-lg"></span>`;

        const formData = new FormData(form);

        try {
          const response = await fetch("/api/nodemailer", {
            method: "POST",
            body: formData,
          });

          // Expecting JSON response from the server
          const responseData = await response.json();

          // Handle response data and display a message
          if (response.ok) {
            messageBox.textContent = "Sent! I will reach out soon.";
            messageBox.classList.add("text-green-500");
          } else {
            messageBox.textContent = `Failed to send message. Please email me at john@johncwaters.com.`;
            messageBox.classList.add("text-red-500");

            console.log(
              "🚀 ~ file: ContactForm.astro:82 ~ form.addEventListener ~ ${responseData.error}:",
              responseData.error
            );
          }

          // Set the button back to normal
          submitButton.disabled = false;
          submitButton.innerHTML = `Submit`;
        } catch (error) {
          messageBox.textContent =
            "An error occurred while sending the message. Please email me at john@johncwaters.com.";
          messageBox.classList.add("text-red-500");
        }
      });
    }
  });
</script>
