---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

import { webVitals } from "../pages/vitals.js";

let analyticsId = import.meta.env.VERCEL_ANALYTICS_ID;

webVitals({
    path: new URL(Astro.request.url),
    //params: $page.params,
    analyticsId,
});
---

<!DOCTYPE html>
<html data-theme="wireframe" lang="en-us">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>

    <body class="flex flex-col min-h-screen">
        <Header title={SITE_TITLE} />
        <main class="flex-auto">
            <slot /><!-- Body Stuff goes here -->
        </main>
        <Footer />
    </body>
</html>
